//////////////////////
// BOARD TYPE       //
//////////////////////
//#define THING     // SparkFun ESP8266 Thing - Dev Board 
//#define NODEMCU   // NodeMCU DevKit


//////////////////////
// TEMP SENSOR      //
//////////////////////
//#define TEMP_TMP102 
//#define TEMP_MPU925x 


//////////////////////
// WiFi Definitions //
//////////////////////
const char WiFiSSID[] = "MY_SSID";
const char WiFiPSK[] = "MY_PASSWORD";


////////////////
// Phant Keys //
////////////////
const char PhantHost[] = "data.sparkfun.com";
const char PublicKey[] = "PUBKEY_HERE";
const char PrivateKey[] = "PRIVKEY_HERE";

